TOOLS_HOME = $(TUP_CWD)
!javac = |> ^ JAVAC %o^ $(TOOLS_HOME)/javac.py -o %o %f |>
!mashjar = |> ^ MASHJAR %o^ $(TOOLS_HOME)/mashjar.py -o %o %f |>
!jar = |> ^ JAR %o^ $(TOOLS_HOME)/jar.py -o %o %f |>

ANDROID_TARGET_PLATFORM=android-19
ANDROID_TARGET_BUILD=19.0.1

ANDROID_HOME=/opt/android-sdk
ANDROID_JAR=$(ANDROID_HOME)/platforms/$(ANDROID_TARGET_PLATFORM)/android.jar

AAPT=$(ANDROID_HOME)/build-tools/$(ANDROID_TARGET_BUILD)/aapt
DX=$(ANDROID_HOME)/build-tools/$(ANDROID_TARGET_BUILD)/dx

!dex = |> ^ DEX %o ^ $(DX) --dex --output %o %f |> 
!apk = |> ^ APK %o ^ $(TOOLS_HOME)/apk.py -P $(AAPT) -I $(ANDROID_JAR) -o %o |>
!genkey = |> ^ GEN %o ^ keytool -genkeypair -validity 10000 -dname "CN=company name, OU=organisational unit, O=organisation, L=location, S=state, C=country code" -keystore %o -storepass password -keypass password -alias debugkey -keyalg RSA -v |>
!apksign = |> ^ SIGN %o ^ jarsigner -storepass password -keypass password -signedjar %o %f debugkey |>
!genres = |> ^ GEN %o ^ $(TOOLS_HOME)/gen-r-java.py -P $(AAPT) -o %o -I $(ANDROID_JAR) |>
